.body {
 font-size: 16px;
}
.main-title {
  font-weight: 600;
}
.content {
  padding: 0rem 3rem;
  margin-top: 1rem;
}
.main-description {
  margin-top: 1rem;
}
.prepare-box {
  margin-top: 2rem;
  padding: 1rem;
}
.prepare-box h3 {
  font-weight: 600;
}
.content-box {
  border-bottom-color: lightblue;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'outfit', sans-serif;
}
.content-box h3 {
  color: hsl(14, 45%, 36%);
  font-family: 'Young Serif', serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.content-box ol li::marker {
  color: hsl(14, 45%, 36%);
  
  font-weight: 600;
}
.content-box li {
  font-size: 16px;
}
.content-box li span{
  font-weight: 600;
}
table tr, td {
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}
table tr {
  border-bottom: 1px solid lightblue;
}
table tr:last-child {
  border-bottom: none;
}
table tr td {
  padding: 0.5rem 1rem;
}
table tr th {
  color: hsl(14, 45%, 36%);
}
.attribution {
  margin: 1rem 0;
}
/* Mobile breakpoint (375px) */
@media (min-width: 375px) {
  .wrap {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

/* Desktop breakpoint (1440px) */
@media (min-width: 1440px) {
  .body {
    background-color: hsl(14, 45%, 36%);
  }
  .wrap {
    max-width: 1440px;
    margin: 2rem auto;
    padding: 2.5rem;
    border-radius: 2rem;
    background-color: #fff;
  }
  .main-thumbnail {
    width: 100%;
  }
  .main-thumbnail img {
    border-radius: 2rem;
  }
  .content {
    padding: 0rem;
    width: 100%;
  }
  .attribution {
    margin: 1rem 0;
    font-size: 16px;
  }
}